<ActionBar class="action-bar">
	<NavigationButton text="Volver" android.systemIcon="ic_menu_back" (tap)="irAtras()"></NavigationButton>
	<Label class="action-bar-title" text="Horarios disponibles"></Label>
</ActionBar>

<GridLayout rows="auto,auto,*,*"  width="100%" class="pageDisponibles">
	<Label row="0" class="aclaracion text-center p-10" text="Recuerda que estos horarios son la hora exacta de partida de la van desde el punto de inicio" textWrap="true"></Label>
	
	<StackLayout row="1" class="subtituloVista3">
        <Label class="text-center" [text]="nombreRuta"></Label>
    </StackLayout>
	<GridView row="2" [items]="myItems" colWidth="30%" rowHeight="100">
		<ng-template let-item="item" let-odd="odd">
		  <StackLayout margin="10" [nsRouterLink]="['/ruta/'+item.idruta+'/'+item.idviaje+'/'+item.precio+'/'+item.nombreruta]"  borderRadius="5" verticalAlignment="stretch" class="list-group-item" [class.odd]="odd" backgroundColor="#a5163d">
		  	<Label horizontalAlignment="center" text="&#xf017;" class="fa iconoReloj"></Label>
		    <Label verticalAlignment="center" [text]="item.fecha_viaje | date: 'EEEE' | titlecase" class="itemFecha text-center" textWrap="true"></Label>
		    <Label verticalAlignment="center" [text]="item.fecha_viaje | date: 'MMM d'" class="itemDiaMes text-center" textWrap="true"></Label>
		    <Label verticalAlignment="center" [text]="item.hora_viaje" class="itemHorario text-center" textWrap="true"></Label>
		  </StackLayout>
		</ng-template>
	</GridView>
	<StackLayout row="3" width="95%" class="abajoVista">
        <Image src="~/images/horario_aclaracion.png"  width="98%" class="horarioAclaracionImagen" ></Image>
    </StackLayout>
    <!-- <ListView  [items]="myItems">
	    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
	        <StackLayout class="p-l-5 listaDisponibles">
				<GridLayout columns="*,*,*,*,*,*" rows="*,*,*,*,*,*" class="p-l-10 p-t-10 itemLista m-b-5" [class.odd]="odd" [class.even]="even" >
	            	<Label class="font-weight-bold nombreRuta text-center" col="0" row="0" colSpan="2" [text]='"@A"+item.idruta'></Label>
	            	<Label class="text-center" col="0" row="1" colSpan="2" text="Inicio Ruta:"></Label>
	            	<Label class="text-center horaRuta" col="0" row="2" colSpan="2" [text]='item.hora_viaje'></Label>

	            	<Label class="text-center" col="0" row="3" colSpan="2" [text]='item.fecha_viaje'></Label>

	            	<Label class="text-center precioViaje" col="0" row="4" colSpan="2" [text]='"$ "+item.precio'></Label>

	            	

	            	<Image src="~/images/bordeInterno.png" class="imagenBorde" row="0" col="2" rowSpan="4"></Image>
	            	<Image src="~/images/puntos.png" class="imagenPuntos" row="0" col="2" rowSpan="3"></Image>
	            	<Label class="font-weight-bold textoPuntos" col="3" row="0" colSpan="3" [text]="item.origen"></Label>
	            	<Label class="font-weight-bold textoPuntos" col="3" row="2" colSpan="3" [text]="item.destino"></Label>

	            	<Label col="3" row="4" colSpan="2" class="cuposLabel" text="Cupos disponibles:"></Label>
	            	<Label col="5" row="4" colSpan="1" class="cuposText" [text]='item.disponibles'></Label>
 

	            	<Button col="0" row="5" colSpan="6" class="btn btn-principal btn-lista" id="button" text="Reservar" [nsRouterLink]="['/ruta/'+item.idruta+'/'+item.idviaje+'/'+item.precio+'/'+item.nombreruta]"></Button>

	            </GridLayout>
	        </StackLayout> 
	    </ng-template>
	</ListView> -->
	

</GridLayout>	
