<ActionBar class="action-bar">
	<NavigationButton text="Volver" android.systemIcon="ic_menu_back" (tap)="irAtras()"></NavigationButton>
	<Label class="action-bar-title" text="Horarios disponibles"></Label>
</ActionBar>

<GridLayout rows="auto,auto,*,*"  width="100%" class="pageDisponibles">
	<Label row="0" class="aclaracion text-center p-10" text="Recuerda que estos horarios son la hora exacta de partida de la van desde el punto de inicio" textWrap="true"></Label>
	
	<StackLayout row="1" class="subtituloVista3">
        <Label class="text-center" [text]="nombreRuta"></Label>
    </StackLayout>
	<GridView row="2" [items]="myItems" colWidth="30%" rowHeight="110">
		<ng-template let-item="item" let-odd="odd">
		  <StackLayout margin="10" [nsRouterLink]="['/ruta/'+item.idruta+'/'+item.idviaje+'/'+item.precio+'/'+item.nombreruta]"  borderRadius="5" verticalAlignment="stretch" class="list-group-item" [class.odd]="odd" backgroundColor="#a5163d">
		    <Label verticalAlignment="center" [text]="item.fecha_viaje | date: 'EEEE' | titlecase" class="itemFecha text-center" textWrap="true"></Label>
		    <Label verticalAlignment="center" [text]="item.fecha_viaje | date: 'MMM d'" class="fa itemDiaMes text-center" textWrap="true"></Label>
		    <Label verticalAlignment="center" [text]="'&#xf017; '+item.hora_viaje" class="fa itemHorario text-center" textWrap="true"></Label>
		    <Label verticalAlignment="center" [text]="'&#xf0c0; '+item.capacidad" class="fa itemCapacidad text-center" textWrap="true"></Label>
		    <Label verticalAlignment="center" [text]="'&#xf155; '+item.precio" class="fa itemCapacidad text-center" textWrap="true"></Label>
		    <Label verticalAlignment="center" [text]="'&#xf207; '+item.placa" class="fa itemCapacidad text-center" textWrap="true"></Label>
		  </StackLayout>
		</ng-template>
	</GridView>
	<StackLayout row="3" width="95%" class="abajoVista">
        <Image src="~/images/horario_aclaracion.png"  width="98%" class="horarioAclaracionImagen" ></Image>
    </StackLayout>
    
</GridLayout>	
