<ActionBar class="action-bar">
	<NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
	<ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
	<Label class="action-bar-title" text="Ayuda"></Label>
</ActionBar>


<StackLayout class="page p-t-15">
	<Label class="m-t-10 p-10 text-center bienvenida" textWrap="true" text="Escríbenos, estamos dispuestos a ayudarte lo más pronto posible."></Label>

    <TextField class="input-app m-t-10 m-b-10 m-l-15 m-r-15" hint="Asunto"
        [(ngModel)]="asunto"></TextField>
    <TextView class="input-app m-t-10 m-b-10 m-l-15 m-r-15" [(ngModel)]="mensaje" hint="Mensaje" returnKeyType="send" (returnPress)="enviar()" ></TextView>

    <Button class="btn btn-primary" text="ENVIAR" (tap)="enviar()"></Button>
</StackLayout> 
