<ActionBar class="action-bar">
	<NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
	<ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Mis viajes finalizados"></Label>
    
</ActionBar>
<!-- *ngIf='item.estadoviaje != "FINALIZADO"' -->
<GridLayout rows="*"> 
    <ListView  [items]="myItems">
	    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
	        <StackLayout class="listaReservas">
				<GridLayout columns="*,*,*" rows="*,*,*,*,*" class="p-l-10 p-t-10 itemListaReserva" [class.odd]="odd" [class.even]="even" >

					<!-- Nombre y estado -->
	            	<Label class="text-center nombreRutaDisponible" col="0" row="0" colSpan="2" [text]='item.nombreruta'></Label>

	            	<!-- Dirección -->
	            	<GridLayout col="0" row="1" colSpan="2" columns="auto,*" rows="auto" >
	            		<Label col="0" row="0" text="&#xf041;" class="fa m-l-10 m-r-5"></Label>
	            		<Label col="1" row="0" [text]='item.direccion' textWrap="true"></Label>
	            	</GridLayout> 

	            	<!-- Fecha -->
	            	<GridLayout col="0" row="2" colSpan="2" columns="auto,auto" rows="auto" horizontalAlignment="left">
	            		<Label col="0" row="0" text="&#xf133;" class="fa m-l-10 m-r-5 p-t-4"></Label>
	            		<Label class="text-center p-t-4 m-l-2" col="1" row="0" [text]='(item.fecha_viaje | date: "EEEE, MMM d" | titlecase)+" a las "+item.hora_viaje'></Label>
	            	</GridLayout>

	            	<!-- Placa -->
	            	<GridLayout col="0" row="3" colSpan="2" columns="auto,auto" rows="auto" horizontalAlignment="left">
	            		<Label col="0" row="0" text="&#xf207;" class="fa m-l-10 m-r-5 p-t-4"></Label>
	            		<Label class="text-center p-t-4 m-l-2" col="1" row="0" [text]='item.placa'></Label>
	            	</GridLayout>

	            	<!-- Conductor -->
	            	<GridLayout col="0" row="4" colSpan="2" columns="auto,auto" rows="auto" horizontalAlignment="left">
	            		<Label col="0" row="0" text="&#xf007;" class="fa m-l-10 m-r-5 p-t-4"></Label>
	            		<Label class="text-center p-t-4 m-l-2" col="1" row="0" [text]='item.conductor'></Label>
	            	</GridLayout>

	            	<Label col="2" row="0" rowSpan="2" class="estadoViajeFin"  [text]='item.estadoviaje' textWrap="true" verticalAlignment="center" horizontalAlignment="right"></Label>

	            	<Button col="2" row="1" rowSpan="3" class="btn btn-secundario btnVerReserva" text="Calificar" [nsRouterLink]="['/calificar/'+item.idruta+'/'+item.idviaje+'/'+item.placa+'/'+item.idconductor]"></Button>
	            	
	            	
	            </GridLayout>
	        </StackLayout> 
	    </ng-template>
	    <ng-template #noReservas>
		    <Label class="text-center"  text='No tienes reservas activas'></Label>
		</ng-template>
	</ListView>
</GridLayout>	