<ActionBar class="action-bar">
	<NavigationButton text="Volver" android.systemIcon="ic_menu_back" (tap)="irAtras()"></NavigationButton> 
    <Label class="action-bar-title" text="Detalle del viaje"></Label>
    <!-- <ActionItem (tap)="cancelar()"
      ios.position="rigth"
      android.position="actionBar"
      icon="res://ic_cancelar"></ActionItem> -->
    <ActionItem (tap)="ubicar()"
      ios.position="rigth"
      android.position="actionBar"
      icon="res://ic_location"></ActionItem>
    <ActionItem (tap)="ubicarVan()"
      ios.position="rigth"
      android.position="actionBar"
      icon="res://ic_van"></ActionItem>
    <ActionItem (tap)="contactar()"
      ios.position="rigth"
      android.position="actionBar"
      icon="res://ic_mensaje" ></ActionItem>
</ActionBar>
<GridLayout>
    <MapView #mapView [latitude]="latitude" [longitude]="longitude"
             [zoom]="zoom" [minZoom]="minZoom" [maxZoom]="maxZoom" [bearing]="bearing"
             [tilt]="tilt" i-padding="50,50,50,50" [padding]="padding" (mapReady)="onMapReady($event)"
             (markerSelect)="onMarkerEvent($event)" (markerBeginDragging)="onMarkerEvent($event)"
             (markerEndDragging)="onMarkerEvent($event)" (markerDrag)="onMarkerEvent($event)"
             (markerInfoWindowTapped)="onMarkerEvent($event)" (coordinateTapped)="onCoordinateTapped($event)"
             (cameraChanged)="onCameraChanged($event)"></MapView>

</GridLayout>
