<ActionBar class="action-bar">
	<NavigationButton text="Volver" android.systemIcon="ic_menu_back" (tap)="irAtras()"></NavigationButton> 
    <Label class="action-bar-title" text="Detalle del viaje"></Label>
    <!-- <ActionItem (tap)="cancelar()"
      ios.position="rigth"
      android.position="actionBar"
      icon="res://ic_cancelar"></ActionItem> -->
    <!-- <ActionItem (tap)="ubicar()"
      ios.position="rigth"
      android.position="actionBar"
      icon="res://ic_location"></ActionItem>
    <ActionItem (tap)="ubicarVan()"
      ios.position="rigth"
      android.position="actionBar"
      icon="res://ic_van"></ActionItem>
    <ActionItem (tap)="contactar()"
      ios.position="rigth"
      android.position="actionBar"
      icon="res://ic_mensaje" ></ActionItem> -->
</ActionBar>
<GridLayout>
     <MapView col="0" row="0" #mapView [latitude]="latitude" [longitude]="longitude"
         [zoom]="zoom" [minZoom]="minZoom" [maxZoom]="maxZoom" [bearing]="bearing"
         [tilt]="tilt" i-padding="50,50,50,50" [padding]="padding" (mapReady)="onMapReady($event)"
         (markerSelect)="onMarkerEvent($event)" (markerBeginDragging)="onMarkerEvent($event)"
         (markerEndDragging)="onMarkerEvent($event)" (markerDrag)="onMarkerEvent($event)"
         (markerInfoWindowTapped)="onMarkerEvent($event)" (coordinateTapped)="onCoordinateTapped($event)"
         (cameraChanged)="onCameraChanged($event)"></MapView>
    <StackLayout class="subtituloVista2">
        <GridLayout columns="auto,auto,auto" rows="auto">
            <Image col="0" src="~/images/ubicar.png"  width="30" class="imagenReserva" (tap)="ubicar()"></Image>
            <Image visibility="{{ mostrarVan ? 'visible' : 'collapsed' }}" col="1" src="~/images/ubicar_van.png"  width="30" class="imagenReserva" (tap)="ubicarVan()"></Image>
            <Image col="2" src="~/images/contactar.png"  width="30" class="imagenReserva" (tap)="contactar()"></Image>
        </GridLayout>
    </StackLayout>
    <StackLayout columns="auto, auto" orientation="horizontal" width="95%" class="abajoVista">
        <Button row="1" class="btn btn-secundario btn-completo" visibility="{{ checkin ? 'visible' : 'collapsed' }}" (tap)="checkIn()" text="Check-In"></Button>
    </StackLayout> 

</GridLayout>
